/* 页脚 */
#footer {
    font: normal 11pt Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
}
/* 主页中央区域颜色 */
body {
    /*background-color: #F3F3F3;*/
}

/*导航条*/
#breadCrumbs {
    margin-top: -20px;
}

.breadcrumb > li + li:before {
    content: '\00BB' !important;
}